.container {
  height: 300px;
  overflow: auto;
  flex-basis: 40%;
  text-align: center;
  // border: 1px solid #000;
}

.item {
  background-color: #fe887b;
  margin-block: 5px;
}
.item::before {
  content: '\261B';
  font-size: 25px;
}

.list {
  list-style-type: none;
}

.accent {
  color: #fb0000;
  font-weight: bold;
}