.container {
  position: absolute;
  right: 0%;
  top: 10%;
  height: 80%;
  width: 50%;
  overflow: auto;
  text-align: center;
}

.item {
  background-color: #eccac6;
  margin-block: 5px;
}
.item::before {
  content: '\261B';
  font-size: 25px;
}

.list {
  list-style-type: none;
}

.accent {
  color: #fb0000;
  font-weight: bold;
}